@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

::selection {
  background: rgb(255,255,102);
}

html {
    height: 100%;
    background-color: #86C2BC;

}

span{
  color: #F36D49;
}
#contactMe {


  max-width: 100%;
  overflow-x: hidden;
  display: block;

  font-family: 'Lato';
  font-weight: 400;
  font-size: 40px;
  color: black;
  letter-spacing: 1px;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;

}

#myContactInfo
{
  display: block;

  font-family: 'Lato';
  font-weight: 200;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

#myContactDetail{

  display: block;

  font-family: 'Lato';
  font-weight: 200;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}
#form
{
  display: block;
}

#inputField{

    font-family: 'Lato';
    font-weight: 200;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}



#bottomLink{


  max-width: 100%;
  display: flex;
position:relative;
  font-family: 'Lato';
  font-weight: 200;
  font-size: 20px;
  color: black;
  bottom : 20px;
  height : 40px;
  margin-top : 40px;
  margin-bottom: 80px;
  justify-content: center;

}


a {
color: #F36D49;
}

p.link{
  margin-right: 2%;
}




@keyframes fadein
{
	0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
