@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

/*for selecting text background*/
::selection {
  background: rgb(255,255,102);
}

html {
    height: 100%;
    background-color: #86C2BC;

}

span{
  color: #F36D49;
}
#contactMe {

  /*overflow: auto;*/

  /*opacity: 0;*/

  max-width: 100%;
  overflow-x: hidden;
  display: block;

  font-family: 'Lato';
  font-weight: 400;
  font-size: 40px;
  color: black;
  letter-spacing: 1px;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;

  /*animation: fadein;
      animation-name: fadein;
      animation-duration: 0.6s;
      animation-timing-function: ease-in-out;
      animation-delay: 0.6s;
      animation-iteration-count: 1;
      animation-direction: initial;
      animation-fill-mode: forwards;
      animation-play-state: initial;*/
}

#myContactInfo
{
  display: block;

  font-family: 'Lato';
  font-weight: 200;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

#myContactDetail{

  display: block;

  font-family: 'Lato';
  font-weight: 200;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}
#form
{
  display: block;


  /*max-width: 100%;*/

}

#inputField{

    font-family: 'Lato';
    font-weight: 200;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}



#bottomLink{


  max-width: 100%;
  /*overflow-x: hidden;*/
  display: flex;
position:relative;
  font-family: 'Lato';
  font-weight: 200;
  font-size: 20px;
  color: black;
  bottom : 20px;
  height : 40px;
  margin-top : 40px;
  margin-bottom: 80px;
  /*left: 50%;*/
  /*margin-right: -50%;*/
  justify-content: center;




  /*bottom : 20px;
  height : 40px;
  margin-top : 40px;
  margin-bottom: 80px;
  position:relative;
  font-family: Light;
  height:40px;
  font-size:15px;
  padding:0 2em;*/
}




/* unvisited link */
/*a:link {
    color: red;
}*/

/* visited link */
/*a:visited {
    color: green;
}

/* mouse over link */

a {
color: #F36D49;
}

p.link{
  margin-right: 2%;
}




@keyframes fadein
{
	0% {
    opacity: 0;
    /*transform: translateY(-20px);*/
}
100% {
    opacity: 1;
    /*transform: translateY(0);*/
}
}
