@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');


::selection { 
  background: rgb(255,255,102);
}

html {
    height: 100%;
    background-color: #86C2BC;
}

body {
    color: #3d3d3d;
}


#jumbotron {

  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    align-self: center;
}


#special-h1 {
		opacity: 0;

	display: block;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Lato';
font-style: normal;
font-size: 4em;

animation: fadein;
    animation-name: fadein;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-direction: initial;
    animation-fill-mode: forwards;
    animation-play-state: initial;
}



#footer {
    opacity: 0;
    position : absolute;
    bottom : 20px;
    height : 40px;
    margin-top : 40px;
    margin-bottom: 80px;
    align-content:center;
    display: block;
    transform: translateX(100%);

    animation: fadein;
        animation-name: fadein;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 1.5s;
        animation-iteration-count: 1;
        animation-direction: initial;
        animation-fill-mode: forwards;
        animation-play-state: initial;

}

button{

    background: transparent;
    color:#3d3d3d;
    border:none;
    align-self: center;
}


a {
    color: #000;
    text-decoration: underline;
}
a:hover {
    color: red;
}


/*animations*/
@keyframes fadein
{
	0% {
    opacity: 0;
   
}
100% {
    opacity: 1;
   
}
}

